.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.table-borderless td,
.table-borderless th {
    border: 0 !important;
}

.ui-autocomplete {
    overflow: auto;
    max-height: 200px;
}

.tituloErrorPpal {
    font-weight: bold !important;
    color: red !important;
    font-size: 16px !important;
}

.fondoInicio {
    background-color: white;
    border-radius: 30px;
}

.fondoPanel {
    border-radius: 30px;
    border-color: #004A84;
    border-style: solid;
}

.fondoPanelAcordeonCabecera {
    border-radius: 5px;
    height: 35px;
    background-color: ButtonHighlight;
    padding-top:7px;
}

.fondoPanelAcordeonCuerpo {
    border-radius: 5px;
    background-color:whitesmoke;
}

.botones {
    background-color: gray;
    font-weight: bold;
    color: white;
}

.botones_cabecera {
    font-weight: bold;
    color: white;
    font-size: 16px;
}

.link_cabecera {
    font-weight: bold;
    color: #004A84;
    font-size: 18px;
    padding-right: 15px;
}

.rectangulo {
    width: 205px;
    height: 45px;
    background: #004A84;
    font-size: 39px;
    color: white;
    padding-bottom: 53px;
    padding-right: 110px
}

.rectangulo_I {
    width: 203px;
    height: 49px;
    font-size: 42px;
    color: #004A84;
    padding-bottom: 53px;   
}

.footer_at {
    height: 310px;
    background-color: #6699FF;
    padding-left: 84px;
    padding-right: 80px;
    padding-top: 60px;
    color: white
}

.link_footer {
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.colorprincipal {
    color: #6699FF;
    font-size: 68px;
}

.box {
    color: #8B8B8B;
    font-size: 17px;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-radius: 5px;
}

.user {
    color: #8B8B8B;
    font-size: 34px;
    font-weight: bold;
}

.tituloAlerta {
    font-size: 20px;
    font-weight: bold;
}

.alerta {
    font-size: 18px;
    color: #ffffff !important;
    padding-left: 20px;
}

.texto {
    color: #000000 !important;
    font-size: 16px !important;
}

.divAlertas {
    color: #ffffff;
    background-color: #2f6fe2;
    font-size: 17px;
    border-radius: 25px !important;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.cabeceraTabla {
    background-color: #a0bffe !important;
}

.cont {
    color: #8B8B8B;
    font-size: 17px;
}

.tituloPagina {
    font-size: 32px;
    color: #004A84;
}

.subTituloPagina {
    font-size: 24px;
    color: #004A84;
}
.subTituloPaginaFIII {
    font-size: 16px;
    color: #004A84;
}


.parrafo {
    font-size: 18px;
    color: #004A84;
}

input, select {
    border-style: solid !important;
    border-radius: 5px !important;
    border-color: #6699FF !important;
    font-size: 16px !important;
    color: #004A84 !important;
    width: 100% !important;
}

/*p, td {
    font-size: 16px !important;
    color: #004A84 !important;
}*/

label {
    font-size: 16px !important;
    color: #000000 !important;
}



